{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}
    <h3>Your cash: {{cash | usd}}</h3>
    <form action="/buy" method="POST">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="symbol" name="symbol" value="" placeholder="Symbol" type="text" requried>
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="num_shares" name="shares" value="" placeholder="Shares" type="number" min="1" requried>
        </div>
        <button class="btn btn-primary" type="submit">Buy</button>
    </form>
{% endblock %}